<% if @restaurant.errors.any? %>
	<div id="errors">
		<h2> <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved</h2>
		<ul>
			<% @restaurant.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if user_signed_in? %>
	<%= form_for @restaurant do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.text_field :description %>
		<%= f.submit %>
	<% end %>
<% else %>
	You need to be logged in to add restaurants!
<% end %>

